* {
    /* border: 1px solid lightblue; */
}

body {
    background-color: black;
}

#json-reponse-ID {
    display: flex-wrap;
    justify-content: space-around;
}

.byGif {
    margin: 8px;
}

.gifcard {
    width: 320px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: 0 auto;
}